<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Tạo mới môn học</title>
</head>
<body>
<p><h1 class="title">Tạo mới môn học</h1> </p>
<p>
    <a href="/subject">Quay lại danh sách môn học</a>
</p>

<!--/*@thymesVar id="subject" type=""*/-->
<form th:action="@{/save}" th:object="${subject}" method="post">
    <table id="alex" border="1">
        <tr>
            <td>Tên môn học: </td>
            <td><input type="text" placeholder="Nhập tên môn học" th:field="*{name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Tạo"></td>
        </tr>
    </table>
</form>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>